# Use root/example as user/password credentials
version: '3.1'

services:
  ws-server1:
    image: pushmessage:latest
    container_name: ws-server1
    ports:
      - 81:80
    networks: 
      - ws-playground
  ws-server2:
    image: pushmessage:latest
    container_name: ws-server2
    ports:
      - 82:80
    networks: 
      - ws-playground
  ws-server3:
    image: pushmessage:latest
    container_name: ws-server3
    ports:
      - 83:80
    networks: 
      - ws-playground
  message-queue:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    networks: 
      - ws-playground
  push-registry:
    image: 'bitnami/redis:6.2'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    container_name: push-registry
    ports: 
      - 6379:6379
    networks: 
      - ws-playground
networks:
  ws-playground:
    driver: bridge