# Use root/example as user/password credentials
version: '3.1'

services:
  message-queue:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
        - 5672:5672
        - 15672:15672
    networks: 
      - ws-playground
networks:
  ws-playground:
    driver: bridge